# Choose "local" or "openai"
EMBEDDING_PROVIDER=local

# Required only when EMBEDDING_PROVIDER=openai
# if later use OpenAI, make sure to create a new .env file
# OPENAI_API_KEY=your_openai_api_key_here
# OPENAI_EMBEDDING_MODEL=text-embedding-3-small

# Used when EMBEDDING_PROVIDER=local
LOCAL_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

# Chroma
CHROMA_COLLECTION_NAME=movie_documents

# Batch size for embedding generation
EMBEDDING_BATCH_SIZE=32env.exampl